# python recab

In [29]:
import this

In [30]:
True #앞글자는 반드시 대문자

True

In [31]:
True == 1

True

In [32]:
False == 0

True

In [33]:
True == '1' # 문자열 1과 True는 다름

False

In [34]:
type("1")

str

### Strings and Lists

In [35]:
til = "Today I learned"
til

'Today I learned'

In [36]:
til.lower() # 데이터는 대소문자가 섞여있기때문에 대소문자를 통일하여 분석한다

'today i learned'

In [37]:
til.upper()

'TODAY I LEARNED'

### Lists

In [38]:
lang = [] # 비어있는 리스트를 재사용하기 위해 lang 변수에 넣어 사용

In [39]:
lang.append("python")
lang.append("java")
lang.append("c")
lang

['python', 'java', 'c']

In [40]:
lang[-1] #마지막 인덱스 출력

'c'

### Control Flow 제어문-조건문,반복문

In [41]:
# 반복문을 통해 리스트의 원소를 하나씩 출력
for i in lang:
    print(i)

python
java
c

In [42]:
for i in lang:
    if i == "python":
        print("python")
    else:
        print("기타")

python
기타
기타

In [43]:
for i in range(5):
    print(i)

0
1
2
3
4

In [51]:
# 특정 횟수만큼 반복문을 실행
count = len(lang) # 재사용성을 높이기 위해 변수 사용
for i in range(count):
    print(lang[i])

python
java
c

In [52]:
# 짝수일 때 python을, 홀수일 때 java를 출력
for i in range(1, 10):
    if i % 2 == 0:
        print(i, "python")
    else:
        print(i, "java")

1 java
2 python
3 java
4 python
5 java
6 python
7 java
8 python
9 java

In [53]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있다.
for i, val in enumerate(lang):
    print(i, val)

0 python
1 java
2 c

### 문자열

In [59]:
address = "  서울특별시 성북구 한천로 72길 9-6 601 6층  "
address

'  서울특별시 성북구 한천로 72길 9-6 601 6층  '

In [60]:
# 앞뒤 공백을 제거
# 데이터 전처리 시 주로 사용함!
address = address.strip()
address

'서울특별시 성북구 한천로 72길 9-6 601 6층'

In [61]:
# 문자열의 길이
len(address)

28

In [66]:
# 공백으로 문자열 분리, ()은 공백을 기준으로 나눔.
# .하고 tab키를 누르면 사용할 수 있는 메소드가 나옴
address.split()

['서울특별시', '성북구', '한천로', '72길', '9-6', '601', '6층']

In [63]:
address.split('시')

['서울특별', ' 성북구 한천로 72길 9-6 601 6층']

In [67]:
address_list = address.split()
address_list

['서울특별시', '성북구', '한천로', '72길', '9-6', '601', '6층']

In [69]:
len(address_list)

7

* 슬라이싱, startswith, in을 통해 문자열에 '서울'이 있는 지 확인하기

In [70]:
# 슬라이싱으로 문자 가져오기
address[:2]

'서울'

In [72]:
# 스타츠위드 ~로 시작하는 지
address.startswith("서울")

True

In [73]:
# in을 사용하면 특정 문자열을 포함하고 있는 지 여부 확인
"서울" in address

True

### 리스트

* 문자열에서 쓰는 방법과 비슷하게 메소드 등을 사용할 수 있다.

In [75]:
address_list

['서울특별시', '성북구', '한천로', '72길', '9-6', '601', '6층']

In [79]:
gu = address_list[2]
gu

'한천로'

In [81]:
street = address_list[3]
street

'72길'

In [85]:
# "".join(리스트명)을 사용하면 리스트를 연결가능
# "공백".join(리스트명) : 공백 포함하여
"-".join(address_list)

'서울특별시-성북구-한천로-72길-9-6-601-6층'

In [86]:
"서울" in address_list

False

In [87]:
"서울특별시" in address_list

True